@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  
body{
  font-family: "Montserrat", serif;
  max-width: 100% !important;
  margin: 0 !important;
 

}
.bg{
  background-color: #1ABC9C;
}
*{
  margin: 0 !important ;
}
#root {
  margin: 0 !important;
  padding: 0  !important;
  min-width: 100% !important; 
}